* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #eef2f7;
    min-height: 100vh;
}

.container {
    width: 600px;
    margin: 100px auto;
    padding: 45px;
    text-align: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    display: block;
    padding: 15px;
    background: #222;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
}

.btn:hover {
    background: #444;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
select {
    padding: 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

input:focus,
select:focus {
    border-color: #333;
}

button {
    padding: 15px;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    background: #222;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #444;
}

.back {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}